<%= form_with model: [@user, @user.profiles.build] do |form|%>
    <div>
        <%=form.label :name%>
        <%=form.text_field :name%>
    </div>
    <div>
        <%=form.label :birthday%>
        <%=form.text_field :birthday, data:{provide:"datepicker"}%>
    </div>
    <div>
        <%=form.label :city%>
        <%=form.text_field :city%>
    </div>
    <div>
        <%= form.label :gender%>
        <%= form.select :gender, ['male','female'], selected:'male'%>
    </div>
    <div>
        <%= form.label :status%>
        <%= form.select :status, ['public','private','archived'], selected:'public'%>
    </div>
    <%= form.submit%>
<%end%>